.zicket-logo {
  background-image: url("../../dist/img/logo.svg");
  background-repeat: no-repeat;
  width: 133px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
  background-image: url("../../dist/img/hero.jpg");
  background-repeat: no-repeat;
  flex-shrink: 0;
  min-height: 100vh; // 100% broke the layout when I added a doctype
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 96px 16px 0 16px;
}

.hero__title {
  font-size: 3rem; /* 48px */
  text-align: center;
  opacity: 100%;
  color: #fff;
  margin-bottom: 25px;
  max-width: 755px;
}
.hero__text {
  text-align: center;
  color: $white;
  margin-bottom: 34px;
}
.hero__cta {
  display: flex;
  margin-bottom: 64px;
}
.hero__cta a{
  background-color: $pink;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  text-align: center;
  color: $white;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column;
}
.hero__aside {
  margin-bottom: 32px;
}
.hero__aside_text {
  font-size: 0.875rem;
  line-height: 19px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  margin-bottom: 24px;
}
.hero__aside_video {
  border: 6px solid transparent;
  box-shadow: 0 0 0 2px rgba(216, 216, 216, 0.5);
  border-radius: 6px;
  background-clip: padding-box;  /* // had to use this otherwise the transparent border would appear as pink due to the background colour */
  width: 204px;
  margin: 0 auto 24px auto;
}
.hero__aside_video img {
  opacity: 0.9;
  width: 190px;
  transition: opacity ease 0.3s;
  display: block;
}
.hero hr {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    $white 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  height: 1px;
  border: none;
  opacity: 0.5;
  margin-top: auto;
  margin-bottom: 30px;
}

.hero__aside_video:hover {
  box-shadow: 0 0 0 2px rgba(216, 216, 216, 0.8);
  transition: all ease 0.3s;
}
.hero__aside_video:hover img {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 4.375rem;  /* 70px; */
  }

}

@media screen and (min-width: 1280px) { 
  .hero {
    padding-top: 0;
  }
  .hero__aside_text {
    margin-bottom: 0;
  }
  .hero__aside_video {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 70px 50px 0;   
  }
  .hero__aside {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(
      -50%
    );   /* // aligning this was tricky. Without this is bunches up to the left edge of the .hero element. This will shift the element left relative to its size. */
  }

 }