.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: background-color 200ms linear;
}

.nav-colored {
  background-color: $dark-purple2 !important;
  margin-top: -42px;
}

.nav__list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
  font-size: 0.875rem;
  color: $white;
}
.nav__list-item {
  display: inline;
  margin-right: 43px;
}
.nav__list-item a {
  color: $white;
  text-decoration: none;
}
.nav__list-item a:hover {
  opacity: 0.9;
}
.get-zicket {
  font-size: 0.75rem;
  color: $white;
  text-transform: uppercase;
  margin-right: 30px;
  margin-bottom: 10px;
}

.nav__burger {
  display: none;
  background: none;
  border: none;
  fill: $white;
}

@media screen and (max-width: 768px) {
  /* // .nav {
  //   flex-direction: row;
  //   align-items: flex-start;
  //   justify-content: space-between;
  // } */
  .zicket-logo {
    /* // align-self: left; */
    margin-left: 0;
  }
  .nav {
    justify-content: space-between;
    padding: 8px 16px;
  }
  .nav ul {
    flex-direction: column;
    justify-content: center;
    display: none;
  }
  .get-zicket {
    display: flex;
    width: 100%;
    display: none;
  }

.nav__burger {
  display: flex;
  margin-left: auto;
}
  
}