.signup {
  background-color: $dark-purple2;
}

.signup h3 {
  color: $white;
}

.signup p {
  color: $light-purple2;
  font-size: 0.875rem;
}
.signup__form input {
  background: transparent;
  border-width: 0 0 2px;
  border-color: $light-purple2;
  color: $light-purple2;
  padding: 17px;
}

.signup__form input::placeholder {
  color: $light-purple2;
}
.signup__form input:focus {
  border: $white;
  color: $white;
}

.signup__form_error,
.signup__form_success {
  font-size: 0.75rem;
  margin-top: 4px;
  margin-left: 4px;
  display: none;
}
.signup__form_error {
  color: $pink;
}
.signup__form_success {
  color: $blue;
}

.signup__form label {
  font-size: 0.87rem;
  color: $light-purple2;
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .signup__form .col{
    width: 60%;
  }
  .signup__form .col:last-child {
    width: 40%;
  }
}