.walkthrough {
  position: relative;
  padding-bottom: 120px;
  padding-top: 120px;
  z-index: 1;
}
.walkthrough .row {
  align-items: center;
}
.walkthrough .row:first-child {
  margin-bottom: 80px;
}
.walkthrough__h2 {
  color: $blue;
  margin-bottom: 16px;
}
.walkthrough__h3 {
  color: $dark-blue;
  margin-top: 40px;
  letter-spacing: -0.65px;
}
.walkthrough__text {
  text-align: left;
  line-height: 30px;
  color: $blue-gray;
}
.walkthrough__img_container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.walkthrough__image {
  max-width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.walkthrough__img_container::before {
  background-color: $off-white;
  height: 90%;
  width: 100%;
  border-radius: 6px;
  transform: skew(5deg) rotate3d(1, 1, 0, 35deg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.row:nth-child(odd) .walkthrough__img_container:before {
  transform: skew(-10deg, -10deg) rotate3d(1, 1, 0, 35deg);
}

.walkthrough__setUpPaymentsBackground {
  opacity: 0.1;
  color: $blue;
  line-height: 90px;
  letter-spacing: -1.5px;
  z-index: -1;
  position: absolute;
  font-family: $montserrat;
  font-weight: bold;
  font-size: 3rem;
}

.walkthrough__cta {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: $blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.walkthrough__cta:hover {
  color: $blue-hover;
}

.walkthrough__cta:hover .btn_round {
  box-shadow: none;
  background-color: $blue-hover;
  color: $blue-hover;
}

.walkthrough__cta:hover .btn_round svg path {
  fill: $white;
}

/* Create the triangle corner effect using the border trick with 100vw */
.walkthrough::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 20vw 40px;
  border-color: transparent $white transparent transparent;
  right: 0;
  top: 100%;
  /* transform: translateY(100%); */
  position: absolute;
}




@media screen and (min-width: 768px) { 
  .walkthrough__setUpPaymentsBackground {
    font-size: 3.75rem;
  } 
}

@media screen and (min-width: 1024px) { 
  .walkthrough .row:first-child {
    margin-bottom: 150px;
  }
  .walkthrough__image {
    max-width: 400px;
   }
}


