.walkthrough .row {
  align-items: center;
}
.walkthrough .row:first-child {
  margin-bottom: 80px;
}
.walkthrough_h2 {
  color: $blue;
  margin-bottom: 16px;
}
.walkthrough_h3 {
  color: $dark-blue;
  margin-top: 40px;
  letter-spacing: -0.65px;
}
.walkthrough_text {
  text-align: left;
  line-height: 30px;
  color: $blue-gray;
}
.walkthrough_img_container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.walkthrough_image {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.walkthrough_img_container::before {
  background-color: $off-white;
  height: 90%;
  width: 100%;
  border-radius: 6px;
  transform: skew(5deg) rotate3d(1, 1, 0, 35deg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.row:nth-child(odd) .walkthrough_img_container:before {
  transform: skew(-10deg, -10deg) rotate3d(1, 1, 0, 35deg);
}

.walkthrough_setUpPaymentsBackground {
  opacity: 10%;
  color: $blue;
  line-height: 90px;
  letter-spacing: -1.5px;
  z-index: -1;
  position: absolute;
  font-family: $montserrat;
  font-weight: bold;
  font-size: 3.75rem;
}

.walkthrough_cta {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: $blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.walkthrough_cta:hover {
  color: $blue-hover;
}

.walkthrough_cta:hover .btn_round {
  box-shadow: none;
  background-color: $blue-hover;
  color: $blue-hover;
}

.walkthrough_cta:hover .btn_round svg path {
  fill: $white;
}


@media screen and (min-width: 1024px) { 
  .walkthrough .row:first-child {
    margin-bottom: 150px;
  }
}
