.btn {
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 20px 40px;
  border-radius: 50px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.btn-pink {
  background-color: $pink;
  color: $white;
}
.btn-pink:hover {
  background-color: $pink-hover;
}
.btn-outline-pink {
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px $pink;
  background-clip: padding-box; 
  /* // had to use this otherwise the transparent border would appear as pink due to the background colour */
}
/* // .btn-outline-pink::before {
//   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-color: blue;
//   width: 100%;
//   height: 100%;
// } */
.btn-outline-pink:hover {
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px $pink-hover;
  background-clip: padding-box; 
  /* // had to use this otherwise the transparent border would appear as pink due to the background colour */
}

.btn-blue {
  background-color: $blue;
  color: $white;
}

.btn-blue:hover {
  background-color: $blue-hover;
}
.btn-outline-blue {
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px $blue;
  background-clip: padding-box;
}
.btn-outline-blue:hover {
  box-shadow: 0 0 0 1px $blue-hover;
}

.btn-white {
  background-color: $white;
  color: $blue;
}
.btn-white:hover {
  background-color: $white-hover;
}
.btn-outline-white {
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px $white;
  background-clip: padding-box;
}
.btn-outline-white:hover {
  box-shadow: 0 0 0 1px $white-hover;
}

.btn-arrow {
  margin-left: 15px;
}

.btn-wide {
  padding-left: 60px;
  padding-right: 60px;
}

.btn-view-all {
  background: rgba(255, 255, 255, 0.2);
  color: $white;
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

.btn-view-all:hover {
  background: rgba(255, 255, 255, 0.1);
  color: $white;
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
}
.btn:hover svg {
  transform: translateX(4px);
  transition: all ease 0.3s;
}

.btn-round {
  background: rgba(59, 142, 249, 0.2);
  color: $blue;
  padding: 5px;
  border-radius: 50%;
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px $blue;
  background-clip: padding-box;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.btn-round:hover {
  box-shadow: 0 0 2px $blue-hover;
  background: rgba(59, 142, 249, 0.1);
  background-clip: padding-box;
  color: $blue-hover;
}
/* // .btn-round:hover svg { // need to target the parent instead
//   transform: translateX(2px);
//   transition: all ease 0.3s;
// } */

.btn:disabled {
  display: none;
}
