.btn {
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 20px 40px;
  border-radius: 50px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.btn_pink {
  background-color: $pink;
  color: $white;
}
.btn_pink:hover {
  background-color: $pink-hover;
}
.btn_outline_pink {
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px $pink;
  background-clip: padding-box; 
  /* // had to use this otherwise the transparent border would appear as pink due to the background colour */
}

.btn_outline_pink:hover {
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px $pink-hover;
  background-clip: padding-box; 
  /* // had to use this otherwise the transparent border would appear as pink due to the background colour */
}

.btn_blue {
  background-color: $blue;
  color: $white;
}

.btn_blue:hover {
  background-color: $blue-hover;
}
.btn_outline_blue {
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px $blue;
  background-clip: padding-box;
}
.btn_outline_blue:hover {
  box-shadow: 0 0 0 1px $blue-hover;
}

.btn_white {
  background-color: $white;
  color: $blue;
}
.btn_white:hover {
  background-color: $white-hover;
}
.btn_outline_white {
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px $white;
  background-clip: padding-box;
}
.btn_outline_white:hover {
  box-shadow: 0 0 0 1px $white-hover;
}

.btn_arrow {
  margin-left: 15px;
}

.btn_wide {
  padding-left: 60px;
  padding-right: 60px;
}

.btn_view_all {
  background: rgba(255, 255, 255, 0.2);
  color: $white;
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

.btn_view_all:hover {
  background: rgba(255, 255, 255, 0.1);
  color: $white;
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
}
.btn:hover svg {
  transform: translateX(4px);
  transition: all ease 0.3s;
}

.btn_round {
  background: rgba(59, 142, 249, 0.2);
  color: $blue;
  padding: 5px;
  border-radius: 50%;
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px $blue;
  background-clip: padding-box;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.btn_round:hover {
  box-shadow: 0 0 2px $blue-hover;
  background: rgba(59, 142, 249, 0.1);
  background-clip: padding-box;
  color: $blue-hover;
}

.btn:disabled {
  display: none;
}
