$montserrat: "Montserrat", Arial, Helvetica, sans-serif;
$opensans: "Open Sans", Arial, Helvetica, sans-serif;

body {
  font-family: $opensans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: $blue-gray;
}

h1,
h2 {
  font-family: $montserrat;
  font-weight: 700;
  line-height: 1;
}

h3,
h4,
h5 {
  font-family: $opensans;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  line-height: 1;
  text-transform: uppercase;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}


@media screen and (min-width: 768px) { 
  h2 {
    font-sizee: 3.125rem;
  }
  h3 {
    font-size: 1.625rem;
  }
}